.contenedor {
    border: 5px solid red;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-template-rows: repeat(3, 120px);
    grid-auto-flow: column;
}

.item {
    border: 5px solid green;
    width: 100px;
    font-size: 4rem;
}