.contenedor {
    border: 6px solid yellow;
    background-color: rgb(255, 182, 12);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.contenedor-2 {
    border: 6px solid yellow;
    background-color: rgb(255, 182, 12);
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.item {
    border: 5px solid aqua;
    font-size: 2rem;
}